/**
* @desc         Button skins
* @extends      .btn
*/

.btn {
  padding: 10px;
}

.btnDefault {
  box-shadow: inset 0 -2px 0 $btnDefaultShadow;
  background: $btnDefaultBg;
  border-radius: 3px;

  &:hover,
  &:focus {
    background: darken($btnDefaultBg, 5%) 
  }
}