/**
* @desc         Button skins
* @extends      .btnDefault
*/

.btnDefault,
a.btnDefault {
  color: $btnDefaultTextColor;
  box-shadow: inset 0 -2px 0 $btnDefaultShadow;
  background: $btnDefaultBg;
  border-radius: 3px;

  &:hover,
  &:focus {
    background: darken($btnDefaultBg, 5%) 
  }
}